
.cont2 {
  height:100%;
  width: 20%
}

.side::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.side::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

.side::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 53);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid back;  /* creates padding around scroll thumb */
}

.side {
	width: 20%;
	min-height: 100%;
  max-height: 100%;
	background: black;
	position: fixed;
	float: left;
  overflow-y: scroll;
	scrollbar-color: black;
}

.side li {
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
  transition: 0.3s;
  cursor: pointer;
}

.side li:hover {
  background: rgb(156, 155, 155);
}

.side li:active {
  transform: translateY(3px);
}
.act2 {
	background-color: #08b1ff;
}

.rest2 {
	margin-left: 20%;
	padding-left: 50px;
  padding-right: 50px;
	width: 80%;
	padding-top: 125px;
	background: linear-gradient(180deg, rgb(74, 194, 250), #3d3d3d);
}

.sHead {
  text-align: center;
  margin-bottom: 30px;
  margin-left:-1%;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.mainH {
  font-size: 40px
}

.rest2 p {
  font-size: 20px;
}

.img2 {
	border-radius: 12px;
}

.footer2 {
	margin-top: 45px;
	width:80%;
	background: #141414;
	height: 200px;
	position: relative;
	z-index: 5;
  float: right;
}

.footer2 .foot1 {
  font-size: 20px;
}

.py1 {
  float: right;
  width: 250px;
  height: 250px;
  object-fit: cover;
  transform: scale(1.5)
  margin-top: -50px;
  background: rgba(255,255,245,.263);
  border-radius: 48px;
  margin-left: 25px;
  margin-top: -25px;
}

.topnav4 {
	width: 80%;
	height: 75px;
	top:0;
	z-index: 99;
	background-color:rgba(57, 55, 71, 0.418);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	position: fixed;
  margin-left: 20%;
}

.navMenu4 {
  position: absolute;
	top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	font-family: "Montserrat", sans-serif;
	font-size:16px;
	vertical-align: center;
	z-index: 99;
}

.navMenu4 a {
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
	color: #9b9b9b;
}

.navMenu4 a.active {
	color: #f6f4e6;
	font-size: 22px;
	width: 82px
}
.navMenu4 a:hover {
  color: #08b1ff;
}

.navMenu4 .dot {
  width: 6px;
  height: 6px;
  background: #08b1ff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navMenu4 a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu4 a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu4 a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(225px);
  transform: translateX(225px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu4 a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(353px);
  transform: translateX(353px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  border-radius: 20px;
}